<!-- employee-details.component.html -->

<div>
  <h2>{{ employee.firstName }} {{ employee.lastName }}</h2>
  <div class="input-container" style="width: 25%">
    <mat-form-field appearance="outline">
      <mat-label>Gross Annual Salary</mat-label>
      <input matInput type="number" [(ngModel)]="employee.grossAnnualSalary" readonly>
      <button mat-icon-button matSuffix (click)="openEditDialog()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="detail-container">
    <div class="detail">
      Gross Annual Salary: £ {{ employee.grossAnnualSalary }}
    </div>
    <div class="detail">
      Gross Monthly Salary: £ {{ grossMonthlySalary }}
    </div>
    <div class="detail">
      Net Annual Salary: £ {{ netAnnualSalary }}
    </div>
    <div class="detail">
      Net Monthly Salary: £ {{ netMonthlySalary }}
    </div>
    <div class="detail">
      Annual Tax Paid: £ {{ annualTaxPaid }}
    </div>
    <div class="detail">
      Monthly Tax Paid: £ {{ monthlyTaxPaid }}
    </div>
  </div>
</div>
